*{
  box-sizing: border-box;
}

.profile-photo {
  box-sizing: border-box;
  border: 1px solid #980387;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  
}
.title-head{
color: #000;
font-size: 13px;
font-weight: 500;

}

.profile-name{
    box-sizing: border-box;
    left: 150px;
    padding-top: 10px;
    margin-left: 16px;
    

}
  
  .heading{
    color: #000;
    font-size: 21px;
    font-weight: 500;
    
    }

.refer__img--container {
  padding: 4px;
  background-color: var(--theme-background-primary);
}
.refer__img--container img{
  width: 18px;
  height: 18px;
}

.dottet{
  border-top: 2px dashed var(--theme-font-color-tertiary);
  margin-left: 4px;
  margin-right: 4px;
  flex: 1;
}

.referral__url {
  width: 150px;
  overflow: hidden;
}


  
  