.performer__box {
  height: 84px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 16px;
}

.performer__box:last-child {
  margin-bottom: 0;
}

.performer__box--primary {
  color: var(--theme-font-color-primary);
  background-color: var(--theme-background-primary);
}

.performer__box--primary:nth-child(even){
  background-color: var(--theme-background-primary);
} 

.performer__box--primary:nth-child(odd)  {
  background-color: var(--theme-background-secondary);
}

.performer__box--secondary {
  color: var(--theme-font-color-primary);
  background-color: var(--theme-background-tertiary);
}

