footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #cebec8;
  height: 60px;
  position: relative;
  bottom: 0;
  width: 100%;
  top: 150px
}

.footer-symbol {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #a290a0;
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
}

.footer-symbol img {
  width: 100%;
  height: 100%;
  opacity: 0.6;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.footer-symbol a:hover img {
  opacity: 1;
}

.footer-symbol a.active img {
  opacity: 1;
}

.bottombar {
  background-color: var(--theme-background-secondary);
  height: var(--theme-navbar-bottom-height);
}

.bottombar__button--selected {
  background-color: var(--theme-background-primary);
  height: 70px;
  width: 64px;
  border-radius: 40px;
}