/* Font size and line height */
.theme__typography--primary {
  font-family: var(--theme-font-family);
  font-size: var(--theme-primary-font-size);
  line-height: var(--theme-primary-line-height);
}

.theme__typography--secondary {
  font-family: var(--theme-font-family);
  font-size: var(--theme-secondary-font-size);
  line-height: var(--theme-secondary-line-height);
}

/* Font color */
.theme__palette--primary {
  color: var(--theme-font-color-primary);
}

.theme__palette--secondary {
  color: var(--theme-font-color-secondary);
}

.theme__palette--tertiary {
  color: var(--theme-font-color-tertiary);
}
/* Font weight */
.theme__fw--primary {
  font-weight: var(--theme-primary-font-weight);
}
.theme__fw--seconary {
  font-weight: var(--theme-secondary-font-weight);
}